<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Pasteboard &mdash; Uploaded Image</title>
    <meta name="description" content="Super simple and lightning fast image sharing. Upload clipboard images with Copy &amp; Paste and image files with Drag &amp; Drop">

    <%- css("image") %>
    <%- js("head") %>
  </head>
  <body data-page="Image Page">
    <canvas class="shadow"></canvas>
    <div class="image-container">
      <img data-src="<%= imageURL %>" alt="uploaded image" class="image js">
      <noscript> <img src="<%= imageURL %>" alt="uploaded image" class="image"> </noscript>
    </div>
    <div class="spinner"></div>
    <div class="progress">
      <div class="track">
        <div class="bar"></div>
      </div>
    </div>
    <div class="broken-link">Image not found</div>
    <aside>
      <div class="url">
        <span>Embed URL:</span>
        <input type="text" value="<%= imageURL %>" readonly onClick="this.select();">
      </div>
      <a href="/images/<%= imageName %>/download" class="button" data-track="Download">Download image</a>
      <% if (isImageOwner) { %>
      <button class="cancel delete" data-track="Delete" data-image="<%= imageName %>">Delete image</button>
      <% } %>
      <a href="/" class="button confirm" data-track="Home">Upload an image</a>
      <div class="views">
        <span class="text">Views</span><span class="num"></span>
      </div>

    </aside>
    <footer>
      <h1 class="title"><a href="/">Pasteboard</a></h1>
    </footer>
    <%- js("image") %>
  </body>
</html>
