<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Pasteboard &mdash; Easy Image Uploads</title>
    <meta name="description" content="Super simple and lightning fast image sharing. Upload clipboard images with Copy &amp; Paste and image files with Drag &amp; Drop">
    <%- css("main") %>
    <%- js("head") %>
    <!-- Globals -->
    <script type="text/javascript">
      window.SOCKET_PORT = <%= port %>;
      window.RECENT_UPLOADS = <%- JSON.stringify(uploads) %>;
    </script>
  </head>
  <body data-page="Main Page">
    <% if (redirected) { %>
    <div class="welcome">Welcome to the next version of PasteShack, I hope you like the new design and features.</div>
    <% } %>
    <canvas class="shadow"></canvas>
    <section class="splash">
      <div class="splash-instructions">
        <div class="splash-image">
        <div class="image-regular"></div>
        <div class="image-shine"></div>
        </div>
        <p>
          <span class="copyandpaste">Copy &amp; Paste</span> or <span class="draganddrop">Drag &amp; Drop</span> <br>
          <span class="sub-text">the image you want to upload.</span>
        </p>
      </div>
      <div class="not-supported">
        <p>
          This browser is not supported because of missing HTML5 features.
        </p>
      </div>
    </section>

    <div class="link-bar">
      <a href="#" class="show-about button" title="Read more about Pasteboard"><span class="icon"></span>About</a>
   </div>

    <footer>
      <h1 class="title">Pasteboard</h1>
    </footer>

    <%- js("main") %>
  </body>
</html>
